h1 {
    margin: 0 auto;
    font-size: x-large;
    margin-bottom: 1%;
}

h5 {
    font-size: large;
}

h6 {
    font-size: smaller;
    font-style: italic;
    font-weight: lighter;
    margin-top: 1%;
    margin-bottom: 2%;
}

.btn {
    background-color: cornsilk;
    font-size: smaller;
    color: black;
    border-color: black;
}

body {
    text-align: center;
}

.form-control {
    text-align: center;
}

#stockDetailsWrapper {
    text-align: center;
    font-size: x-small;
    margin: 0 auto;
}

#optionDetailsWrapper {
    text-align: center;
    font-size: x-small;
    margin: 0 auto;
}

#currentOptions {
    font-size: small;
}

#buttons {
    margin: 0 auto
}

tr {
    text-align: center
}

.optionTableHeader {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

#currentOptions {
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    font-weight: lighter;
    text-align: center;
}